<header>
	<div>
		<ul>
			<li><a href="http://localhost/fr">FR</a></li>
			<li><a href="http://localhost/en">EN</a></li>
		</ul>
    </div>
    <nav>
    	<div> 
    		<h1 {{ path('hompage_translation') }}>{{'HEADER.H1'|trans }}</h1>
    		<ul>
    			<li><a class="liNav" href="{{ path('hompage_translation') }}">
    			{{'HEADER.HOME'|trans }}</a></li>
    			<li><a class="liNav" href="{{ path('hompage_translation') }}" >{{'HEADER.GALERY'|trans }}</a></li>
    			<li><a class="liNav" href="">Login</a></li>
    			<li><a class="liNav" href="{{ path('add_user') }}">{{'HEADER.REGISTER'|trans }}</a></li>
    			<li><a class="liNav" href="{{ path('display_product') }}">List Products</a></li>
    		</ul>
    	
    	</div>
    	
    </nav>

</header>

{% set infoMessage = app.flashes('info') %}

{% if infoMessage is not empty %}

<div class="container">
	{% for message in infoMessage %}
	<p class="alert alert-success">{{ message }}</p>
	{% endfor %}
</div>
{% endif %}